#puppy {
    font-family: 'Pacifico', cursive;
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
}

#_12years {
    font-family: 'Berkshire Swash', cursive;
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
}

#adult{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 36px;
    font-weight: 900;
    line-height: 200%;
}